In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report

In [2]:
# import some data to play with
df= pd.read_csv("C:/Users/khann/OneDrive/Desktop/excel r assignments/Fraud_check.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [3]:
data_cleaned1 = df.rename({'Taxable.Income': 'Tax','Marital.Status':'Marital_Status',
                          'City.Population':'City_Population','Work.Experience':'Work_Experience'}, axis=1)

In [4]:

data_cleaned1.loc[data_cleaned1.Tax<=30000, "Tax"]='Risk'
data_cleaned1.loc[data_cleaned1.Tax!='Risk', "Tax"]= 'Good'

data_cleaned1

    Undergrad Marital_Status   Tax  City_Population  Work_Experience Urban
0          NO         Single  Good            50047               10   YES
1         YES       Divorced  Good           134075               18   YES
2          NO        Married  Good           160205               30   YES
3         YES         Single  Good           193264               15   YES
4          NO        Married  Good            27533               28    NO
..        ...            ...   ...              ...              ...   ...
595       YES       Divorced  Good            39492                7   YES
596       YES       Divorced  Good            55369                2   YES
597        NO       Divorced  Good           154058                0   YES
598       YES        Married  Good           180083               17    NO
599        NO       Divorced  Good           158137               16    NO

[600 rows x 6 columns]

In [5]:
data_cleaned2=pd.get_dummies(data_cleaned1,columns=['Undergrad','Marital_Status','Urban'],drop_first=True)
data_cleaned2

,Tax,City_Population,Work_Experience,Undergrad_YES,Marital_Status_Married,Marital_Status_Single,Urban_YES
0,Good,50047,10,0,0,1,1
1,Good,134075,18,1,0,0,1
2,Good,160205,30,0,1,0,1
3,Good,193264,15,1,0,1,1
4,Good,27533,28,0,1,0,0
...,...,...,...,...,...,...,...
595,Good,39492,7,1,0,0,1
596,Good,55369,2,1,0,0,1
597,Good,154058,0,0,0,0,1
598,Good,180083,17,1,1,0,0
599,Good,158137,16,0,0,0,0

In [6]:
data_clean= data_cleaned2.iloc[:,[1,2,3,4,5,6,0]]
data_clean.info

<bound method DataFrame.info of      City_Population  Work_Experience  Undergrad_YES  Marital_Status_Married  \
0              50047               10              0                       0
1             134075               18              1                       0
2             160205               30              0                       1
3             193264               15              1                       0
4              27533               28              0                       1
..               ...              ...            ...                     ...
595            39492                7              1                       0
596            55369                2              1                       0
597           154058                0              0                       0
598           180083               17              1                       1
599           158137               16              0                       0

     Marital_Status_Single  Urban_YES   Tax
0                        1          1  Good
1                        0          1  Good
2                        0          1  Good
3                        1          1  Good
4                        0          0  Good
..                     ...        ...   ...
595                      0          1  Good
596                      0          1  Good
597                      0          1  Good
598                      0          0  Good
599                      0          0  Good

[600 rows x 7 columns]>

In [7]:
#Complete fraud dataset
data= pd.DataFrame(data_clean,columns=['City_Population','Work_Experience','Undergrad_YES',
                                          'Marital_Status_Married','Marital_Status_Single',
                                         'Urban_YES'])
data

,City_Population,Work_Experience,Undergrad_YES,Marital_Status_Married,Marital_Status_Single,Urban_YES
0,50047,10,0,0,1,1
1,134075,18,1,0,0,1
2,160205,30,0,1,0,1
3,193264,15,1,0,1,1
4,27533,28,0,1,0,0
...,...,...,...,...,...,...
595,39492,7,1,0,0,1
596,55369,2,1,0,0,1
597,154058,0,0,0,0,1
598,180083,17,1,1,0,0
599,158137,16,0,0,0,0

In [8]:
target=data_clean.iloc[:,6]
target

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: Tax, Length: 600, dtype: object

In [9]:
x=data
y=target

In [10]:
x

,City_Population,Work_Experience,Undergrad_YES,Marital_Status_Married,Marital_Status_Single,Urban_YES
0,50047,10,0,0,1,1
1,134075,18,1,0,0,1
2,160205,30,0,1,0,1
3,193264,15,1,0,1,1
4,27533,28,0,1,0,0
...,...,...,...,...,...,...
595,39492,7,1,0,0,1
596,55369,2,1,0,0,1
597,154058,0,0,0,0,1
598,180083,17,1,1,0,0
599,158137,16,0,0,0,0

In [11]:
y

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: Tax, Length: 600, dtype: object

In [12]:
# Splitting data into training and testing data set
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=27)

### Building Decision Tree Classifier using Entropy Criteria

In [13]:
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [14]:
model.get_n_leaves()

8

In [15]:
preds = model.predict(x_test) # predicting on test data set 
pd.Series(preds).value_counts() # getting the count of each category

Good    117
Risk      3
dtype: int64

In [16]:
preds

array(['Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risk',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risk', 'Good', 'Good', 'Risk',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good'],
      dtype=object)

In [17]:
pd.crosstab(y_test,preds) # getting the 2 way table to understand the correct and wrong predictions

col_0  Good  Risk
Tax
Good     98     3
Risk     19     0

In [18]:
# Accuracy 
np.mean(preds==y_test)

0.8166666666666667

In [19]:
print(classification_report(preds,y_test))

              precision    recall  f1-score   support

        Good       0.97      0.84      0.90       117
        Risk       0.00      0.00      0.00         3

    accuracy                           0.82       120
   macro avg       0.49      0.42      0.45       120
weighted avg       0.95      0.82      0.88       120

### Building Decision Tree Classifier (CART) using Gini Criteria

In [20]:
from sklearn.tree import DecisionTreeClassifier
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=3)

In [21]:
model_gini.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [22]:
#Prediction and computing the accuracy
pred=model.predict(x_test)
np.mean(preds==y_test)

0.8166666666666667